/* The side navigation menu */
.sidenav {
    width: 250px;
    height: 86%;
    position: fixed; 
    z-index: 6; 
    padding-top: 20px; 
    margin-bottom: 3px;
    transition: 0.5s; 
    direction: ltr;
    border: 3px solid black;
}

.item{
    text-align: right;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}


  