.item{
    width: 140px;
    height: 140px;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 40%;
    transition: transform 2s;
}

.item:hover{
    transform: scale(1.2);
}

.title{
    border: 1px solid black;
    padding: 20px;
    border-radius: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 5px 5px rgba(146, 178, 219, 0.8);
}
.title p{
    font-size: 4rem;
    transform: none;
    
}

